{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h3>Zona para trabajar con los view</h3>
        <h4>Dato random del dia</h4>
        <p>{{ random_fact }}</p>
        <div class="d-flex flex-row gap-3 justify-content-center align-content-center">
            {% for nav in navigation %}
                <a href="{% url nav.url %}" class="btn btn-primary">{{ nav.name }}</a>
            {% empty %}
                <p>No data</p>
            {% endfor %}
        </div>
        {% if from %}
            <h3 class="d-flex flex-row align-content-center justify-content-center pt-5 overflow-hidden">
                {{ from }}
            </h3>
        {% endif %}
        <section class="d-flex justify-content-center align-content-center flex-column">
            {% block generic %}
                <div class="d-flex flex-row gap-2 pt-5">
                    {% for video_game in video_games %}
                        <div class="card" style="width: 18rem;">
                            <img src="/media/{{ video_game.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ video_game.name }}</h5>
                                <p class="card-text">{{ video_game.description }}</p>
                                <a href="#" class="btn btn-primary">{{ video_game.rate }}</a>
                            </div>
                            <div class="card-footer d-flex flex-column gap-1">
                                <span class="badge bg-secondary">{{ video_game.category.name }}</span>
                                <div class="d-flex flex-row gap-1 justify-content-between align-content-center">
                                    <a href="{% url 'st_mvc:generic_update' video_game.id %}" class="btn btn-primary">Modifivar</a>
                                    <a href="{% url 'st_mvc:generic_detail' video_game.id %}" class="btn btn-secondary">Ver</a>
                                    <a href="{% url 'st_mvc:generic_delete' video_game.id %}" class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock generic %}
        </section>
    </div>
{% endblock %}