{% extends 'form_obj3/index_form.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block forms %}
    <h4> {{ welcome }} </h4>
     {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
    <form action="{% url 'st_mvc:form_by_model' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock forms %}
